.new-line {
    white-space:pre
}

.weather-img {
    max-width: 9rem;
    max-height: 9rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -400px;
}
.weathergriditem {
    position: relative;
    margin-left: 1rem;
    margin-top: -2.2rem;
}
.weathergriditem2 {

}
.weathergrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
    
}

.weather {
    display: flex;
    justify-content: space-between;
}
.modd {
    height: 160px;
}
.bigone {
    font-size: 2.3rem;
}
.connectedandok {
    background-color: rgb(0, 100, 13);
    color: white;
}
.disconnectedandbad {
    background-color: rgb(192, 10, 10);
    color: white;
}
.modgrid {
    display: flex;
    justify-content: center;
    align-items: center;
  
}
ion-col {
    padding: 0px;
}
